:root{
    --primary: #fff;
    --secondary: #000;
}

.light-mode{
    --primary: #000;
    --secondary: #fff;
}


.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: var(--primary);
    z-index: 10000;
}

h1{
    font-size: 70px;
    transition: 200ms transform 100ms;
}

h1:hover{
    transform: scale(1.2);
}

a, button{
    font-size: 30px;
    text-decoration: none;
    color: var(--secondary);
    margin: 15px;
    padding: 8px 24px;
    background-color: var(--primary);
    border-radius: 6px;
    transform: scale(1);
    border: 3px solid transparent;
    transition: 300ms transform 100ms, 300ms background-color 100ms, 300ms color 100ms, 300ms border 100ms;
    min-width: fit-content;
}

a:hover, button:hover{
    background-color: transparent;
    color: var(--primary);
    border: 3px solid var(--primary);
    transform: scale(1.03);
}

body{
    user-select: none;
    background-color: var(--secondary);
    cursor: none;
    overflow: hidden;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

*{
    cursor: none;
}

.cursor1{
    width: 8px;
    height: 8px;
    background-color: var(--primary);
    border-radius: 50%;
    position: absolute;
    transition: 300ms opacity 100ms;
    pointer-events: none;
    z-index: 100000000;
}
.cursor2{
    width: 30px;
    height: 30px;
    /* background-color: var(--primary); */
    opacity: 0.4;
    border-radius: 50%;
    position: absolute;
    transition: 50ms top, 50ms left, 200ms transform ease-in-out, 200ms height ease-in-out, 300ms opacity, 300ms border;
    pointer-events: none;
    transform-origin: center center;
    transform: translate(-36%, -36%);
    z-index: 100000000;
}

#buttons{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(80px, 1fr));
    gap: 25px;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
    width: 40%;
    min-width: 600px;
    margin: auto;
}

.shape{
    background-color: var(--primary);
    z-index: -1;
    transition: 7s top, 7s opacity;
    position: absolute;
    animation-name: moving;
    animation-duration: 7s;
    /* box-shadow: 1px 1px 6px 1px var(--primary); */
}

.shape-no{
    background-color: var(--primary);
    z-index: -1;
    transition: 7s top, 7s opacity;
    position: absolute;
    opacity: 0;
    /* box-shadow: 1px 1px 6px 1px var(--primary); */
    animation-name: fade;
    animation-duration: 1s;
}

#shapes{
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
}

.moving{
    animation-name: moving;
    animation-duration: 14s;
}

@keyframes moving{
    0%{
        bottom: -40vh;
    }
    100%{
        bottom: 0;
        transform: translateY(-100vh);
        opacity: 0;
    }
}

@keyframes fade{
    100%{
        opacity: 0;
    }
}

.settings{
    position: fixed;
    top: 0;
    right: 0;
    text-align: right;
    color: var(--primary);
    padding: 15px;
}

.left{
    position: fixed;
    top: 0;
    left: 0;
    text-align: left;
    color: var(--primary);
    padding: 15px;
}

.score{
    font-size: 55px;
    margin-right: 15px;
}

@media (max-width: 1080px){
    .center, a{
        font-size: 10vw;
    }

    h1{
        font-size: 4vh;
    }

    #buttons{
        display: grid;
        grid-template-columns: 100px;
        grid-template-rows: repeat(auto-fit, minmax(80px, 1fr));
        gap: 25px;
        align-content: center;
        justify-content: center;
        align-items: center;
        justify-items: center;
        width: 40%;
        min-width: 600px;
        margin: auto;
    }
}

.modal{
    color: var(--primary);
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: transparent;
    backdrop-filter: blur(0px);
    z-index: 10000000;
    text-align: center;
    user-select: default;
    transition: all 300ms;
}

.desc{
    width: 40%;
    text-align: left;
}

.modal .corner button{
    background-color: transparent;
    border: none;
    outline: none;
    position: absolute;
    top: 0;
    right: 0;
    color: var(--primary);
    font-size: 3vh;
    display: none;
}

.open{
    backdrop-filter: blur(2px);
    display: default;
}
    


@media (max-width: 1080px){
    .desc{
        width: 90%;
    }
}
